<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854217320305-065s570abdehcgef3vmarbjjnf393smk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854217320305-065s570abdehcgef3vmarbjjnf393smk</string>
	<key>API_KEY</key>
	<string>AIzaSyBpiVFaFPsNarGaGxuEXAyUWJhABvr-hZM</string>
	<key>GCM_SENDER_ID</key>
	<string>854217320305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.lee.LandMarkVisitor</string>
	<key>PROJECT_ID</key>
	<string>landmarkvisitor</string>
	<key>STORAGE_BUCKET</key>
	<string>landmarkvisitor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854217320305:ios:a9eff1e8d1c2d4e0dd78d0</string>
</dict>
</plist>